<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!--Footer Bottom-->
                <p class="text-xs-center">&copy; Copyright 2018 - City of Telangana. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>