<p>
    button function
</p>

<button type="button" class="btn btn-outline-primary" [disabled]="!allowNewServer" (click)="onServerCreate()">Disabled Primary</button>
<!-- two tyes of di -->
<!-- <p>{{allowNewServer}}</p> -->
<p [innerText]="allowNewServer"></p>.

<p>{{serverCreatedStatus}}</p>