<div class="container">
    <div class="row">
        <div class="col-md-12 text-left">
            <form (submit)="addHobby(hobby.value)">
                <div>
                    <label for="hobby">Hobby:</label>
                    <input type="text" #hobby>
                </div>
            </form>
            <p>
                Name:{{name}} P
            </p>
            <p>
                Age:{{age}}
            </p>
            <p>
                Email: {{email}}
            </p>
            <p>
                Address: {{address.street}} ,{{address.city}}, {{address.state}}.
            </p>
            Hobbies:
            <ul>
                <li *ngFor="let hobby of hobbies; let i = index" style="list-style:none">{{i+1}}: {{hobby}}</li>
            </ul>
            <button (click)="onClick()">Click Me</button>
            <!-- <h1 [class]="titleClass">header text</h1> -->
            <!-- <h1 [class.redline]="titleClass">header text</h1> -->
            <h1 [ngClass]="titleClass">header1 text</h1>
            <h2 [ngStyle]="titleStyles">header2 text</h2>
            <div>
                <span *ngIf="isavailable; else condition1">Condition is valid.</span>
                <!-- <span *ngIf="isavailable; then condition1 else condition2">Condition is valid.</span> -->
                <ng-template #condition1>Condition is invalid</ng-template>
                <ng-template #condition2>Condition is invalid</ng-template>
            </div>
        </div>
    </div>
</div>