<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th *ngFor="let a of headtable">{{a.displaytName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td *ngFor="let b of row1">{{b.displaytName}}</td>
        </tr>
        <tr>
            <td *ngFor="let c of row2">{{c.displaytName}}</td>
        </tr>
        <tr>
            <td *ngFor="let d of row3">{{d.displaytName}}</td>
        </tr>
    </tbody>
</table>