<nav class="navbar navbar-expand-md navbar-dark " style="background: coral;">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" alt="Logo" style="width:auto;height:50px;">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngFor=" let i of navLinks">
                <a class="nav-link" [routerLink]="i.displayName"><i [class]="i.icon"></i>{{i.displayName}}</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active" *ngFor=" let j of rightnavLinks">
                <a class="nav-link" [routerLink]="j.displayName"><i [class]="j.icon"></i>{{j.displayName}}</a>
            </li>
        </ul>

    </div>
</nav>