<div class="container">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="register.userName" placeholder="User Name"> {{register.userName}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" [(ngModel)]="register.password" placeholder="Password">
        </div>
        {{register.password}}
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="register.firstName" placeholder="First Name">
        </div>
        {{register.firstName}}
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="register.lastName" placeholder="LastName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="register.email" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="register.age" placeholder="Age">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="register.country">
        <option *ngFor="let c of countries" [value]="c.value">{{c.text}}</option>
    
      </select> {{register.country}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-6">
            <input type="radio" name="gender" value="M" [(ngModel)]="register.gender">Male
            <input type="radio" name="gender" value="F" [(ngModel)]="register.gender">Female
            <input type="radio" name="gender" value="NA" [(ngModel)]="register.gender">Do not disclose
        </div>
    </div>

    <div class="form-group row">

        <div class="col-sm-6 offset-sm-2">
            <input type="checkbox" [(ngModel)]="register.iAccept"> <label class="col-form-label">I Agreee Terms</label> </div>
        {{register.iAccept}}
    </div>

    <div class="form-group row" *ngIf="register.iAccept">
        <div class="col-sm-6 offset-sm-2">
            <button class="btn btn-primary" (click)="registerHandler()">Register</button>
        </div>
    </div>
</div>